<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - {{ site.name }}</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ '/' | url }}">ホーム</a></li>
          <li><a href="{{ '/works/' | url }}">実績</a></li>
        </ul>
      </nav>
    </header>

    {% block main %}{% endblock %}
  </body>
</html>
