---
title: 事例
---
{% extends "base.njk" %}

{% block main %}
<h1>{{ title }}</h1>

<ul>
  {% for work in works %}
    <li><a href="{{ '/works/' + work.slug + '/' | url }}">{{ work.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
