{% extends "base.njk" %}

{% block main %}
<h1>{{ title }}</h1>

<ul>
  {% for work in collections.works %}
    <li><a href="{{ work.url | url }}">{{ work.data.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
